<%= render partial: 'signup/shared/flash_notice' %>
<%= form_for(user) do |f| %>

    <% if user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :firstname %>
      <%= f.text_field :firstname, required: 'require' %>
    </div>

    <div class="field">
      <%= f.label :lastname %>
      <%= f.text_field :lastname, required: 'require' %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, required: 'require' %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, required: 'require' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, required: 'require' %>
    </div>

    <% if current_user.admin? %>
        <div class="field">
          <%= f.label :admin %>
          <%= f.check_box :admin %>
        </div>
    <% else %>
        <%= f.hidden_field :admin, value: 0, required: 'required' %>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
