<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if admin? %>
<p>
  <strong>Admin:</strong>
  <%= @user.admin %>
</p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |

<% if admin? %>
<%= link_to 'Back', users_path %>
  <% else %>
  <%= link_to 'Back', main_app.root_path %>
<% end %>